@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1b2529;;
    font-weight: 500;
}

/* 헤더 */
header{
    position: fixed;
    width: 100%;
    z-index: 999;
}
header.sticky {
    position: fixed;
    padding: 10px 0;
    background-color: #fff;
    box-sizing: 0 2px 2px rgba(0,0,0,0.3);
}
.h_container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s;
}
h1{
    margin-left: 5vw;
    
}
/* 네비게이션 */
nav {
    padding:0 5vw;
    
}
nav ul {
    display: flex;
    margin-top: 8px;
    
}
nav ul li {
    margin-right: 3vw;
    display: block;
    
}
nav ul li a {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;   
    position: relative;
}
nav ul li a:hover  {
    color: #00a8e3;
    display: block;

}
nav ul li a:after{
    content: '';
    position: absolute;
    background: #00a8e3;
    width: 0%;
    height: 2px;
    bottom: -20px;
    left: 0;
}
nav ul li:hover a:after {
    width: 100%;
    transition: 0.3s;
}
/* 헤더 오른쪽 */
.h_right {
    margin-top: 8px;
    margin-right: 3vw;
    display: flex;
    transition: 1s;
}
.h_right .search {
}
.h_right .my_page {
    margin: 0 1vw;
    position: relative;
    padding-bottom: 5px;
}
.h_right .my_page:hover ul {
    display: block;
}
.h_right .my_page ul{
    background-color: #fff;
    padding: 8px 15px;
    position: absolute;
    top: 40px;
    left: -50px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    width: 100px;
    height: 100px;
    text-align: center;
    display: none;
}
.h_right .my_page ul li{
    margin: 5px 0;
}

.h_right .my_page ul li a{
    font-size: 14px;
    transition: 0.5s;
}
.h_right .my_page ul li:hover a{
    color: #00a8e3;
    
}
.h_right .my_cart {
    position: relative;
}
.h_right .my_cart:after {
    display: inline-block;
    content: '0';
    background-color: #00a8e3;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -5px;
}
.ham_button{
    opacity: 0;
    transition: 1s;
}
/* 메인 */

/* 컨테이너 */
.container1 {
    width: 100%;
}
.slide_wrapper {
    overflow: hidden;
    position: relative;
    height: 100vw;
    margin-right: 3px;
}
.slide_wrapper .slides {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 55555px;
    display: flex;
}
.slide_wrapper .slides li{
    
}
.slide_wrapper .slides li a {
    display: block;
    position: relative;
}
.container1 .slide_wrapper ul li a img {
    object-fit: cover;
    width: 1920px;
}
/* con1 리스트 텍스트 */
.con1_text_wrap{
    position: absolute;
    top: 15rem;
    left: 20vw;
}
.con1_text_wrap .sub_text {
    font-size: 1.2rem; 
}
.con1_text_wrap .main_text {
    font-size: 3rem;
    font-weight: 900;
    margin: 10px 0 35px 0;
}
.con1_text_wrap .arrow {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
.con1_text_wrap .arrow:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: 80px;
    background: url(/rebuilding/img/arr_btnTxt2.png) no-repeat;
}
.con1_text_wrap.whitetext .arrow:after {
    background: url(/rebuilding/img/arr_btnTxt5.png) no-repeat;
}
.con1_text_wrap.whitetext .sub_text, 
.con1_text_wrap.whitetext .main_text, 
.con1_text_wrap.whitetext .arrow {
    color: #fff;
}
.container1 .slide_wrapper .prev {
    position: absolute;
    left: 10vw;
}
.container1 .slide_wrapper .next {
    position: absolute;
    right: 10vw;
}
.container1 .slide_wrapper .next,
.container1 .slide_wrapper .prev {
    top: 20rem;
}
.container1 .slide_wrapper i {
    color: #fff;
    font-size: 4.5rem;   
}
/*  슬라이드 시작 정지 버튼 

.container1 .slide_wrapper .slide_stop{
    background-color: red;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 20px;
    height: 20px;
} */
/* 푸터 */
footer{
    background: cornflowerblue;
    width: 10px;
    height: 3500px;
}
/* 화면 1024이하 */
@media screen and (max-width:1024px){   
    /* 헤더 */
    h1 {
        margin-left: 8vw;
    }
    header.sticky {
        padding: 0;
    }
    nav {
        display: none;
    }
    .h_right {
        display: none;
    }
    /* 햄버거버튼 */
    .ham_button{
        opacity: 1;
        font-size: 35px;
        line-height: 0.5;
        display: block;
        position: absolute;
        right: 5vw;
        top: 25px;
        
    }
    /* 컨테이너1 */
  
    /* con1 list 글자 화살표  */
    .con1_text_wrap{
        top: 15rem;
        left: 25vw;
    }
    .con1_text_wrap .sub_text {
        font-size: 1rem; 
    }
    .con1_text_wrap .main_text {
        font-size: 2.5rem;
        margin: 7px 0 25px 0;
    }
    .con1_text_wrap .arrow:after {
        width: 15px;
        height: 15px;
        top: 7px;
        left: 80px;
    }
    .container1 .slide_wrapper ul li a img{
        width: 100vw;
        height: 100vw; 
    }
    .container1 .slide_wrapper .prev {
        left: 10vw;
    }
    .container1 .slide_wrapper .next {
        right: 10vw;
    }
    .container1 .slide_wrapper .next,
    .container1 .slide_wrapper .prev {
        transform: translateY(-50%);
        top: 50%;
    }
    .container1 .slide_wrapper i {
        font-size: 7vw;   
    }
    /* .container1 .slide_wrapper .slide_stop{
        background-color: red;
        position: absolute;
        top: 50%;
        right: 50%;
        width: 20px;
        height: 20px;
    } */
    
}

/* 화면 768이하 */
@media screen and (max-width:768px){
    
    /* 컨테이너1 */

    .container1 {
        width: 100vw;
    }
    /* con1 list 글자 화살표 이미지*/
    .con1_text_wrap{
        top: 15rem;
        left: 25vw;
    }
    .con1_text_wrap .sub_text {
        font-size: 0.8em; 
    }
    .con1_text_wrap .main_text {
        font-size: 1.5rem;
        margin: 7px 0 25px 0;
    }
    .con1_text_wrap .arrow {
        font-size: 0.9rem;
    }
    .con1_text_wrap .arrow:after {
        width: 0.9rem;
        height: 0.9rem;
        top: 5px;
        left: 70px;
    }
    .container1 .slide_wrapper i {
        font-size: 10vw;   
    }
}